# Use this notebook for your 3 choices of APIs

In this lab you will choose 3 APIs from the list in the GitHub Repo (https://github.com/public-apis/public-apis)
Create a dataframe of the available data and think of a project that you could do with that data.
Submit your notebook's repo link in the Student Porta

In [1]:
# 1. Import libraries

import pandas as pd
import requests
import json
from pandas.io.json import json_normalize
from pandas import json_normalize
from getpass import getpass

## Spoonacular recipes

In [20]:
url = "https://api.spoonacular.com/recipes/complexSearch?apiKey=fb097ee44a364e3590a458934674c50a"
response = requests.get(url)

print("recipe:", response.status_code)
response

recipe: 200

In [9]:
# STATUS
# 200: Everything went okay and the result has been returned (if any).
# 301: The server is redirecting you to a different endpoint. This can happen when a company switches domain names, or an endpoint name is changed.
# 400: The server thinks you made a bad request. This happens when you don’t send along the right data, among other things.
# 401: You are not properly authenticated.
# 403: The resource you’re trying to access is forbidden: you don’t have the right permissions to get it.
# 404: The resource you tried to access doesn't exist.
# 503: The server can't handle the request.
# full list: https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

In [48]:
results = response.json()
#results

data = pd.DataFrame(response.json())
data.head()
#data.shape

,results,offset,number,totalResults
0,"{'id': 782585, 'title': 'Cannellini Bean and A...",0,10,5220
1,"{'id': 716426, 'title': 'Cauliflower, Brown Ri...",0,10,5220
2,"{'id': 715497, 'title': 'Berry Banana Breakfas...",0,10,5220
3,"{'id': 715415, 'title': 'Red Lentil Soup with ...",0,10,5220
4,"{'id': 716406, 'title': 'Asparagus and Pea Sou...",0,10,5220

In [50]:
nested_columns = ['results']

flat = flatten(data, nested_columns)
flat

,offset,number,totalResults,results_id,results_title,results_image,results_imageType
0,0,10,5220,782585,Cannellini Bean and Asparagus Salad with Mushr...,https://spoonacular.com/recipeImages/782585-31...,jpg
1,0,10,5220,716426,"Cauliflower, Brown Rice, and Vegetable Fried Rice",https://spoonacular.com/recipeImages/716426-31...,jpg
2,0,10,5220,715497,Berry Banana Breakfast Smoothie,https://spoonacular.com/recipeImages/715497-31...,jpg
3,0,10,5220,715415,Red Lentil Soup with Chicken and Turnips,https://spoonacular.com/recipeImages/715415-31...,jpg
4,0,10,5220,716406,Asparagus and Pea Soup: Real Convenience Food,https://spoonacular.com/recipeImages/716406-31...,jpg
5,0,10,5220,644387,Garlicky Kale,https://spoonacular.com/recipeImages/644387-31...,jpg
6,0,10,5220,715446,Slow Cooker Beef Stew,https://spoonacular.com/recipeImages/715446-31...,jpg
7,0,10,5220,782601,Red Kidney Bean Jambalaya,https://spoonacular.com/recipeImages/782601-31...,jpg
8,0,10,5220,795751,Chicken Fajita Stuffed Bell Pepper,https://spoonacular.com/recipeImages/795751-31...,jpg
9,0,10,5220,766453,Hummus and Za'atar,https://spoonacular.com/recipeImages/766453-31...,jpg

With this dataset I could create a project that would be a recipe recommender based on the ingredients you have in your fridge.

## Cat-facts: Daily cat facts! 🐱

In [60]:
url = "https://cat-fact.herokuapp.com/facts"
response = requests.get(url)

print("recipe:", response.status_code)
response

recipe: 200

In [67]:
results = response.json()
#results

data_cat = pd.DataFrame(response.json())
data_cat.head()
#data.shape

,status,_id,user,text,__v,source,updatedAt,type,createdAt,deleted,used
0,"{'verified': True, 'sentCount': 1}",58e008780aac31001185ed05,58e007480aac31001185ecef,Owning a cat can reduce the risk of stroke and...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-29T20:20:03.844Z,False,False
1,"{'verified': True, 'sentCount': 1}",58e009390aac31001185ed10,58e007480aac31001185ecef,"Most cats are lactose intolerant, and milk can...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-04T21:20:02.979Z,False,False
2,"{'verified': True, 'sentCount': 1}",588e746706ac2b00110e59ff,588e6e8806ac2b00110e59c3,Domestic cats spend about 70 percent of the da...,0,user,2020-08-26T20:20:02.359Z,cat,2018-01-14T21:20:02.750Z,False,True
3,"{'verified': True, 'sentCount': 1}",58e008ad0aac31001185ed0c,58e007480aac31001185ecef,The frequency of a domestic cat's purr is the ...,0,user,2020-08-24T20:20:01.867Z,cat,2018-03-15T20:20:03.281Z,False,True
4,"{'verified': True, 'sentCount': 1}",58e007cc0aac31001185ecf5,58e007480aac31001185ecef,Cats are the most popular pet in the United St...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-01T21:20:02.713Z,False,False

In [68]:
nested_columns = ['status']

flat_cat = flatten(data_cat, nested_columns)
flat_cat

,_id,user,text,__v,source,updatedAt,type,createdAt,deleted,used,status_verified,status_sentCount
0,58e008780aac31001185ed05,58e007480aac31001185ecef,Owning a cat can reduce the risk of stroke and...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-29T20:20:03.844Z,False,False,True,1
1,58e009390aac31001185ed10,58e007480aac31001185ecef,"Most cats are lactose intolerant, and milk can...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-04T21:20:02.979Z,False,False,True,1
2,588e746706ac2b00110e59ff,588e6e8806ac2b00110e59c3,Domestic cats spend about 70 percent of the da...,0,user,2020-08-26T20:20:02.359Z,cat,2018-01-14T21:20:02.750Z,False,True,True,1
3,58e008ad0aac31001185ed0c,58e007480aac31001185ecef,The frequency of a domestic cat's purr is the ...,0,user,2020-08-24T20:20:01.867Z,cat,2018-03-15T20:20:03.281Z,False,True,True,1
4,58e007cc0aac31001185ecf5,58e007480aac31001185ecef,Cats are the most popular pet in the United St...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-01T21:20:02.713Z,False,False,True,1

With this dataset I could create a hypothesis about whether or not having a cat has health benefits for the owner.

## Books: open library

In [82]:
url = "http://openlibrary.org/subjects/terror.json?published_in=1800-2020"
response = requests.get(url)

print("subjects:", response.status_code)
response

subjects: 200

In [83]:
results = response.json()
#results

data_books = pd.DataFrame(response.json())
data_books.head()
#data.shape

,key,name,subject_type,work_count,works
0,/subjects/terror,terror,subject,142,"{'key': '/works/OL941669W', 'title': 'Tintenhe..."
1,/subjects/terror,terror,subject,142,"{'key': '/works/OL81614W', 'title': 'Rose Madd..."
2,/subjects/terror,terror,subject,142,"{'key': '/works/OL81617W', 'title': 'Gerald's ..."
3,/subjects/terror,terror,subject,142,"{'key': '/works/OL1855945W', 'title': 'Saturda..."
4,/subjects/terror,terror,subject,142,"{'key': '/works/OL869965W', 'title': 'The Blac..."

In [84]:
nested_columns = ['works']

flat_books = flatten(data_books, nested_columns)
flat_books

,key,name,subject_type,work_count,works_key,works_title,works_edition_count,works_cover_id,works_cover_edition_key,works_subject,...,works_lendinglibrary,works_printdisabled,works_lending_edition,works_lending_identifier,works_authors,works_first_publish_year,works_ia,works_public_scan,works_has_fulltext,works_availability
0,/subjects/terror,terror,subject,142,/works/OL941669W,Tintenherz,60,3330314,OL13311130M,"[Fathers and daughters, Characters in literatu...",...,False,True,OL13311389M,corazondetinta0000funk,"[{'key': '/authors/OL2704045A', 'name': 'Corne...",2003,corazondetinta0000funk,False,True,"{'status': 'borrow_available', 'available_to_b..."
1,/subjects/terror,terror,subject,142,/works/OL81614W,Rose Madder,46,8578049,OL782422M,"[rose madder, audiobooks, miscarriage, interna...",...,False,True,OL38211712M,marenovaiarosaro0000king,"[{'key': '/authors/OL2162284A', 'name': 'Steph...",1995,marenovaiarosaro0000king,False,True,"{'status': 'borrow_available', 'available_to_b..."
2,/subjects/terror,terror,subject,142,/works/OL81617W,Gerald's Game,44,10705875,OL32039360M,"[Horror tales, Fiction, Horror, Horror fiction...",...,False,True,OL13223195M,juegodegeraldel00step,"[{'key': '/authors/OL2162284A', 'name': 'Steph...",1992,juegodegeraldel00step,False,True,"{'status': 'borrow_available', 'available_to_b..."
3,/subjects/terror,terror,subject,142,/works/OL1855945W,Saturday,36,11280683,OL7695231M,"[Protest movements, Criminals, Traffic acciden...",...,False,True,OL24365297M,saturdayroman0000mcew,"[{'key': '/authors/OL222146A', 'name': 'Ian Mc...",2004,saturdayroman0000mcew,False,True,"{'status': 'borrow_available', 'available_to_b..."
4,/subjects/terror,terror,subject,142,/works/OL869965W,The Black Stallion,36,4037099,OL1890146M,"[Walter Farley, Horses, Racing horses, Black S...",...,False,True,OL1890146M,blackstallion0000farl_s0y0,"[{'key': '/authors/OL76009A', 'name': 'Walter ...",1941,blackstallion0000farl_s0y0,False,True,"{'status': 'borrow_available', 'available_to_b..."
5,/subjects/terror,terror,subject,142,/works/OL19309503W,Advances in experimental social psychology,28,14395725,OL29290533M,"[Social psychology, Research, Social perceptio...",...,False,True,OL29290533M,isbn_9780128047385_54,"[{'key': '/authors/OL2646386A', 'name': 'Mark ...",1990,isbn_9780128047385_54,False,True,"{'status': 'borrow_available', 'available_to_b..."
6,/subjects/terror,terror,subject,142,/works/OL2700634W,The Lost Valley and Other Stories,8,2002698,OL9356138M,"[English Fantasy fiction, Fantasy fiction, Eng...",...,False,False,,,"[{'key': '/authors/OL394726A', 'name': 'Algern...",1914,None,False,False,NaN
7,/subjects/terror,terror,subject,142,/works/OL21262799W,Terror and Performance,7,None,None,"[Terrorism, psychological aspects, Terrorism, ...",...,False,False,,,"[{'key': '/authors/OL6400636A', 'name': 'Rusto...",2014,None,False,False,NaN
8,/subjects/terror,terror,subject,142,/works/OL3245533W,"Culture, Crisis and America's War on Terror",7,353738,OL7752055M,"[Politics and government, Social conditions, W...",...,False,True,OL7752055M,culturecrisisame0000crof,"[{'key': '/authors/OL529340A', 'name': 'Stuart...",2006,culturecrisisame0000crof,False,True,"{'status': 'borrow_available', 'available_to_b..."
9,/subjects/terror,terror,subject,142,/works/OL2973025W,Fear,7,871437,OL8874167M,"[Social aspects of Terror, Social aspects, Ter...",...,False,True,OL17198628M,fearculturalhist0000bour,"[{'key': '/authors/OL454641A', 'name': 'Joanna...",2005,fearculturalhist0000bour,False,True,"{'status': 'borrow_available', 'available_to_b..."
10,/subjects/terror,terror,subject,142,/works/OL19283521W,Terrornomics,7,2597255,OL10852744M,"[Terrorism, Economic aspects, Finance, Prevent...",...,False,True,OL10852744M,terrornomics0000unse,"[{'key': '/authors/OL6964831A', 'name': 'Sean ...",2007,terrornomics0000unse,False,True,"{'status': 'borrow_available', 'available_to_b..."
11,/subjects/terror,terror,subject,142,/works/OL1731794W,Deti Arbata,5,11143267,OL32488760M,"[Fiction, History, Terror]",...,False,False,,,"[{'key': '/authors/OL2704982A', 'name': 'Anato...",1987,None,False,False,NaN

I would use this dataset to create a recommendation of books by genre according to the one you like the most.